.App {
  text-align: center;
}

.App-header {
  background-color: #8d99ae;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.Title{
  font-size: 1.5em;
  color: white;
}

body{
  background-color: #1d3557;
  font-family: system-ui;
}